  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: medium;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span
{
white-space: pre-line;
} 
 
.copy_right_footer
{
  position: fixed;
  width: 100%;
  margin: 0px;
  box-shadow: 5px 5px 5px gray;
  background-color: greenyellow;
  color: gainsboro;
  text-align: center;
  line-height: 3;
  bottom: 0;
}

canvas{
  border: 5px solid whitesmoke;
  border-radius: 20px;
  box-shadow: yellow;
  margin-top: 160px;
}
